<strong>Olá {{ provider }}</strong>,
<p>Houve um <span style="color:rgb(255, 0, 0);">cancelamento</span> de horário,
confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ user }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
</p>
<small>
    O horário está novamente disponível para novos agendamentos.
 </small><br />
